# Data & berkas runtime (jangan di-commit)
data/
uploads/
certs/
*.pfx
pfx-pass.txt

# Sesi WhatsApp gateway
.wwebjs_auth/
.wwebjs_cache/
wa-server/.wwebjs_auth/
wa-server/.wwebjs_cache/

# Node
node_modules/
npm-debug.log*

# OS
Thumbs.db
desktop.ini
.DS_Store
